<ion-header>
  <ion-navbar color="primary">
    <ion-title>Requests</ion-title>
    <ion-buttons end>
      <button ion-button item-right (click)="goToAddFriends()" color="white">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list no-margin>
    <ion-item *ngFor="let r of requests; let i = index;" [hidden]="r.isAdded">
      <ion-avatar item-left>
        <img [src]="r.avatar">
      </ion-avatar>
      <h2 color="text">
        {{ r.name }}
      </h2>
      <button ion-button item-right outline (click)="onAdd(friend, i)">
        <ion-icon name="add"></ion-icon> Add to friends
      </button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>