page-requests-tab {
  .color-1{
    background-color: cornflowerblue;
  }
  .color-2{
    background-color: gray;
  }
  .img-wrapper{
    display: inline-block;
    margin-right: 5px;
    img{
      width: 100%;
      max-width: 20px;
      max-height: 20px;
      border-radius: 10px;
      margin-top: 5px;
    }
  }
  .time{
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 12px;
    color: #ccc;
  }
  .label-md, .label-ios{
    margin: 5px 8px 13px 0;
  }
}
