<ion-header>
  <ion-navbar color="primary">
    <!--<ion-title text-uppercase>Restore Password</ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <div padding-top padding-bottom>
    <h2 [innerHTML]="text"></h2>
    <h5 [innerHTML]="subtext"></h5>
  </div>
  <form #emailForm="ngForm" novalidate>
    <ion-item class="inputs inputs-single" no-padding margin-bottom>
      <ion-label text-uppercase stacked>Email Address</ion-label>
      <ion-input [(ngModel)]="email"
                 name="email"
                 type="email"
                 #emailAddress="ngModel"
                 spellcheck="false"
                 autofocus="true"
                 autocapitalize="off">
      </ion-input>
    </ion-item>
    <button ion-button (click)="onRestore(emailForm)" type="submit" color="secondary" block text-uppercase>Reset Password</button>
	</form>
</ion-content>

