<ion-header>
  <ion-navbar color="primary">
    <ion-title text-uppercase>Profile Setup</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="add" class="img-placeholder" (click)="uploadImgActionSheet()" *ngIf="!base64Image"></ion-icon>
        <img [src]="base64Image" (click)="uploadImgActionSheet()" *ngIf="base64Image" class="img-placeholder">
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item class="pl0">
        <ion-input type="text" value="" placeholder="Username"></ion-input>
      </ion-item>

      <ion-item class="pl0">
        <ion-input type="email" value="" placeholder="Email"></ion-input>
      </ion-item>

      <ion-row radio-group class="radio-group-row">
        <ion-col class="fake-placeholder">Gender</ion-col>
        <ion-col text-right>
          <ion-label>Female</ion-label>
          <ion-radio checked="true" color="primary" value="m"></ion-radio>
        </ion-col>
        <ion-col text-right>
          <ion-label>Male</ion-label>
          <ion-radio  color="primary" value="f"></ion-radio>
        </ion-col>
      </ion-row>


      <ion-item class="pl0 bdt-line">
        <ion-label class="fake-placeholder">DOB</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>

      <div class="posr">
        <ion-item class="pl0">
          <ion-label class="fake-placeholder">Password</ion-label>
          <ion-input type="password" value="123456" disabled="true" class="pl15"></ion-input>
        </ion-item>
        <span (click)="updatePasswordAlert()" class="input-link-1">Change</span>
      </div>

      <ion-item class="pl0">
        <ion-label floating>Status: </ion-label>
        <ion-input type="text" [(ngModel)]="myStatus"></ion-input>
      </ion-item>

      <ion-row radio-group hidden class="radio-group-row">
        <ion-col width-50 class="fake-placeholder">CONNECT YOUR SOCIAL:</ion-col>
        <ion-col text-center>
          <a href="https://twitter.com/">
            <ion-icon name="logo-twitter" class="icon-network icon-twitter" (click)="clickTwitter()"></ion-icon>
          </a>
        </ion-col>
        <ion-col text-center>
          <a href="https://www.facebook.com/">
            <ion-icon name="logo-facebook" class="icon-network icon-facebook" (click)="clickFacebook()"></ion-icon>
          </a>
        </ion-col>
        <ion-col text-center>
          <a href="https://www.youtube.com/">
            <ion-icon name="logo-youtube" class="icon-network icon-youtube" (click)="clickYoutube()"></ion-icon>
          </a>
        </ion-col>
      </ion-row>

    </ion-list>


  </ion-grid>
  
  <button ion-button (click)="clickSave()" margin-top class="btn-center">Save</button>

</ion-content>
