    page-profile-setup {
        $color-001: #0075FF;
        .img-placeholder{
            background-color: #ccc;
            display: block;
            width: 100px;
            height: 100px;
            text-align: center;
            margin: 0 auto;
            border-radius: 50px;
                margin-bottom: 20px;
            &:before{
                margin-top: 25px;
                font-size: 50px;
                color: #fff;
            }
        }
        .fake-placeholder{
            color: #999;
            text-transform: uppercase;
            font-size: 14px;
            margin: 15px 0;
            padding: 0;
            float: right;
        }

        .text-input{
            margin: 13px 8px 13px 0;
        }
        .input-link-1{
            position: absolute;
            right: 0;
            top: 15px;
            color: $color-001;
            z-index: 10;
        }
        .radio-group-row{
            padding: 0;
            ion-col{
                padding: 0;
                display: inline-block;
            }
            ion-label{
                margin: 0;
                margin-right: 12px;
                padding: 15px 0;
                display: inline-block;

            }

            ion-radio{
                margin: 10px 0;
                background: $color-001;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                padding: 4px;
            }

            .radio-checked .radio-inner{

                border-color: #fff;
                top: 2px;
                left: 6px;
                width: 5px;
                height: 10px;
            }
        }
        .item-md.bdt-line{
            border-top: .05px solid #D9D9D9;
        }
        .item-ios.bdt-line{
            border-top: 1px solid #ccc;
        }
        .item{
            background-color: transparent;
        }

        .radio-md .radio-inner{
            border-radius: 0;
        }
        .radio-md, .radio-md .radio-checked{
            border-color: $color-001;
        }
        .radio-md .radio-icon {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            margin: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: none;
        }
        .radio-md .radio-inner {
            background-color: transparent;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .radio-md .radio-checked .radio-inner {
            position: absolute;
            top: 1px;
            left: 7px;
            width: 5px;
            height: 12px;
            border-width: 2px;
            border-top-width: 0;
            border-left-width: 0;
            border-style: solid;
            border-color: #fff;
            background-color: transparent;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .datetime{
            padding: 13px 0 13px 16px
        }
        .item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input,
        .item-md.item-label-stacked .text-input, .item-md.item-label-floating .text-input{
            margin: 0;
            margin-bottom: 5px;
            width: 100%;
            font-size: 14px;
        }
        .icon-network{
            padding-top: 11px;
            font-size: 20px;
            float: right;

            &.icon-twitter{
                color: blue;
            }
            &.icon-facebook{
                color: darkblue;
            }
            &.icon-youtube{
                color: red;
            }
        }
        .list-ios, .list-md {
            margin: -1px 0 5px 0;
        }

    }



