<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Shoes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-slides>
    <ion-slide *ngFor="let photo of photos">
      <ion-img [width]="320" [height]="480" [src]="photo.src"></ion-img>
      <p>Votes: 23</p>
      <button ion-button clear icon-only class="trash-icon" (click)="trash()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>