<ion-header>
  <ion-navbar color="primary">
    <ion-title>Find Friends</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-list>
      <button ion-item>
      <ion-icon name="contacts"></ion-icon>
      Contacts
      <p>Find friends from your contacts</p>
    </button>

      <button ion-item>
      <ion-icon name="mail"></ion-icon>
      Gmail
      <p>Find your Gmail contacts</p>
    </button>

      <button ion-item>
      <ion-icon name="logo-facebook"></ion-icon>
      Facebook
      <p>Find your Facebook friends</p>
    </button>

      <button ion-item>
      <ion-icon name="people"></ion-icon>
      OPO Experts
    </button>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Sugested friends
    </ion-card-header>
    <ion-list>
      <ion-list>
        <ion-item *ngFor="let s of searchPeople">
          <ion-avatar item-left>
            <img [src]="s.avatar">
          </ion-avatar>
          <h2>{{s.name}}</h2>

          <button ion-button outline item-right>
            <ion-icon name="add"></ion-icon> INVITE
          </button>
        </ion-item>
      </ion-list>

    </ion-list>
  </ion-card>
</ion-content>
