<ion-header>
  <ion-navbar color="primary">
    <button ion-button color="white" menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>App General Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Notifications
    </ion-list-header>

    <ion-item>
      <ion-label>New Invite</ion-label>
      <ion-toggle value="foo" checked="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>New Message</ion-label>
      <ion-toggle color="energized"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>New Follower</ion-label>
      <ion-toggle color="danger" checked="false"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Private</ion-label>
      <ion-toggle color="royal" checked="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Email notifications</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>SMS notifications</ion-label>
      <ion-toggle color="danger" checked="false"></ion-toggle>
    </ion-item>

</ion-list>
</ion-content>
