<ion-menu id="loggedOutMenu" type="overlay" color="primary" [content]="nav" (ionOpen)="updateUser()">

  <ion-header>
    <button ion-item no-lines detail-none color="primary">
      <ion-avatar item-left>
        <img width="80" height="80" [src]="avatar" >
      </ion-avatar>
      <h2>{{ name }}</h2>
      <span>{{ email }}</span>
    </button>
  </ion-header>


  <ion-content text-center class="outer-content">
    <ion-list no-lines>
      <button ion-item no-padding detail-none color="primary" *ngFor="let page of pages | slice:0:4" (click)="openPage(page)">
        <ion-row>
          <ion-col no-padding padding-left width-25 text-center center>
            <ion-icon margin-right [name]="page.icon"></ion-icon>
          </ion-col>
          <ion-col no-padding width-50 center>
            {{ page.title }}
          </ion-col>
          <ion-col no-padding width-25 text-center *ngIf="page.feed" center>
            <span>{{ page.feed }}</span>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>

    <button ion-button outline round color="light" (click)="navigateToInviteFriends()">
      Invite Friends
    </button>
  </ion-content>

  <ion-footer>
    <ion-list no-lines>
      <button ion-item no-padding detail-none color="primary" *ngFor="let page of pages | slice:4" (click)="openPage(page)">
        <ion-row>
          <ion-col no-padding padding-left width-25 text-center center>
            <ion-icon margin-right [name]="page.icon"></ion-icon>
          </ion-col>
          <ion-col no-padding width-75 center>
            {{ page.title }}
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
  </ion-footer>

</ion-menu>
