menu {
  #loggedOutMenu {
    ion-header {
      border-bottom: 0.6px solid rgba(255, 255, 255, 0.4);

      &.header-md::after {
        background-image: none;

      }

      button {
        padding-top: 26px;

        ion-avatar {
          $size: 40px;

          min-width: $size;
          min-height: $size;

          img {
            width: $size;
            height: $size;
            border-radius: 0;

          }

        }

        h2 {
          font-size: 2.2rem;
          font-weight: 300;
        }

        span {
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.2rem;
        }

      }

    }

    ion-content,
    ion-footer {
      background: color($colors, primary);

      ion-list {
        margin-bottom: 4rem;

        button {
          font-size: 2.0rem;
          font-weight: 300;
          border-bottom: 0.6px solid rgba(255, 255, 255, 0.1);

          .item-inner {
            height: 60px;
            padding-right: 0;

            ion-label {
              margin: 0;

              ion-icon {
                $icon-size: 2.4rem;

                color: rgba(255, 255, 255, 0.40);
                font-size: $icon-size;

                &[ng-reflect-name="ios-add-outline"] {
                  font-size: $icon-size + 1.6rem;

                }

              }

            }

          }

        }

      }

      button[round] {
        font-size: 1.8rem;

        ion-icon {
          margin-right: 10px;
          font-size: 2.2rem;

        }

      }

    }

    ion-footer {
      background-color: initial;
      border-top: 0.6px solid rgba(255, 255, 255, 0.4);

      &.footer-md::before {
        background-image: initial;

      }

      ion-list {
        margin: 0;

        button {
          border-bottom: 0;

          &:first-child {
            padding-top: 8px;
          }

          &:last-child {
            padding-bottom: 8px;
          }

          .item-inner {
            height: 40px;
          }

        }

      }

    }

  }

}
