<ion-header>
  <ion-navbar color="primary">
    <ion-title>About</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDone()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1>Title</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, neque. Provident obcaecati et quisquam dolores rem at vel
    aperiam, expedita consectetur deserunt. Molestiae aliquid explicabo accusamus, totam nostrum quasi est odit nulla nesciunt
    hic magnam ab nemo libero voluptas, nihil laudantium magni sed eaque repellat. Sequi sunt est enim vel assumenda a dolorem,
    cupiditate quod ipsa labore voluptatum iste dolore error similique praesentium impedit dignissimos nisi consequuntur
    commodi laborum itaque ab. Possimus id recusandae dolores sequi, inventore assumenda molestias natus laudantium atque.
    Asperiores delectus in quod et expedita porro minus saepe doloremque numquam vero, pariatur explicabo doloribus modi
    quasi tempora odio ea amet repudiandae maiores facere provident? Odit maiores laboriosam, impedit quia aperiam pariatur
    sunt, magni, quos fugiat facere nisi ut. Commodi id eveniet inventore deserunt eos dolorum, eius, doloribus cum reiciendis
    harum facilis necessitatibus, similique voluptatibus! Aspernatur voluptas voluptatibus ipsam eos, rem, ullam doloremque
    libero et dolorem magni minus dolores eaque, temporibus aliquid molestias harum quibusdam ad veniam repellat consectetur
    ea suscipit sit. Quo officiis nemo aliquam placeat iure optio consequatur odit rerum earum, recusandae adipisci, atque
    voluptatem accusantium a harum suscipit porro repudiandae aut modi labore ex ducimus. Numquam, ut autem totam fugit distinctio
    minima tempora excepturi dolore.</p>
</ion-content>
