<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>Followers</ion-title>
    <ion-buttons end>
      <button ion-button item-right (click)="goToAddFriends()" color="white">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list no-margin>
    <ion-item *ngFor="let f of followers" (click)="navigateToProfile()">
      <ion-avatar item-left>
        <img [src]="f.avatar">
      </ion-avatar>
      <h2 color="text">{{ f.name }}</h2>
    </ion-item>
  </ion-list>
</ion-content>