<ion-header>
  <ion-navbar color="primary">
    <ion-title>Client Feedback</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label color="primary" stacked>Enter your email</ion-label>
      <ion-input type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Message</ion-label>
      <ion-input></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button round outline>Send</button>
</ion-content>
