<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Product</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid class="pb0">
    <ion-row>
      <ion-col width-33>
        <img src="assets/img/product.jpg" alt="" class="img-shadow">
      </ion-col>
      <ion-col width-67 class="pb0">

        <ion-list class="pb0 mb0">
          <ion-item class="pl0">
            <ion-input type="text" value="" placeholder="Brand name"></ion-input>
          </ion-item>

          <ion-item class="pl0">
            <ion-input type="email" value="" placeholder="Product name"></ion-input>
          </ion-item>

          <ion-item class="pl0">
            <ion-input type="email" value="" placeholder="Size"></ion-input>
          </ion-item>

          <ion-item class="pl0">
            <ion-input type="email" value="" placeholder="Price"></ion-input>
          </ion-item>

          <ion-item class="pl0">
            <ion-input type="email" value="" placeholder="Color"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <button ion-button small class="btn-done flr" (click)="done()">
              <ion-icon name="checkmark"></ion-icon>
              Done
            </button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
