page-add-product {
    ion-content{
        height: 250px;
    }
    .scroll-content{
      padding-bottom: 0;
    }
    .img-shadow{
        -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
    }
    .item-block{
        min-height: 26px;
    }
    .text-input{
          margin: 2px 8px;
          font-size: 12px;
    }
    .list{
      margin: 0;
    }
    .btn-done ion-icon{
      font-size: 16px;
      padding-right: 5px;
    }
}

