page-friends {
  .tabs-md .tab-button[aria-selected=true] {
      border-bottom: 2px solid #fa75ae;
  }
  .tabs-md .tab-button {
      min-height: 40px;
  }
  .header-md::after{
    background-image: none;
  }
  .tab-badge {
      right: 0;
      background-color: red;
      border-radius: 50%;
  }
}
