<ion-content>
  <ion-tabs tabsPlacement="top">
    <ion-tab [root]="tab1" tabTitle="Friends" tabBadge="{{countRequests}}"></ion-tab>
    <ion-tab [root]="tab2" tabTitle="Following"></ion-tab>
    <ion-tab [root]="tab3" tabTitle="Followers"></ion-tab>
    <ion-tab [root]="tab4" tabTitle="Groups"></ion-tab>
  </ion-tabs>
</ion-content>