<ion-header no-border>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>


<ion-content class="soft-bg-primary" padding no-bounce>

  <h1 text-center  color="white" class="welcome-text">Welcome to <br>
    <span><strong>O</strong>ther <strong>P</strong>eople <strong>O</strong>pinion</span>
  </h1>

  <form #form="ngForm" (ngSubmit)="onLogin(form)" novalidate>
    <ion-list>
      <ion-item class="border-bottom no-top-border" no-padding>
        <ion-label floating color="white">Email</ion-label>
        <ion-input color="light-gray" type="email" name="email" required [(ngModel)]="login.email" ngControl="email">
        </ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating color="white">Password</ion-label>
        <ion-input color="light-gray" type="password" name="password" required [(ngModel)]="login.password" ngControl="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row padding-vertical responsive-sm>
        <ion-col>
          <button class="soft-text-color-primary" ion-button type="submit" color="white" round block>Login</button>
        </ion-col>
        <ion-col text-right>
          <button ion-button (click)="onForgotPassword()" color="white" small clear>Forgot Password?</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row margin-top>
        <ion-col no-padding>
          <button ion-button (click)="onSignup()" color="light-gray" round block>Signup</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col width-50>
          <button ion-button (click)="onFacebook()" color="facebook" icon-left block round>
            <ion-icon name="logo-facebook"></ion-icon>
            Facebook
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button (click)="onGmail()" color="gmail" icon-left block round>
            <ion-icon name="mail"></ion-icon>
            Gmail
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>

</ion-content>
