page-login {
  /*.toolbar-background {
    background: transparent;
    border-color: transparent;
  }*/
  .welcome-text {
    font-size: 2.2rem;
    font-weight: 100;
    letter-spacing: 0;
    span {
      letter-spacing: -1px;
      font-size: 2.8rem;
    }
  }

  ion-label {
    font-weight: bold;
  }


  ion-item {
    background-color: transparent!important;
    color: color($colors, white);
    input{
      color: color($colors, white);
      font-weight: normal;
      font-size: 2.0rem;
    }
  }

  button{
    text-transform: capitalize;
  }


  .logo {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;

    img {
      max-width: 164px;
      margin: 2px 0;
    }
  }

  .list {
    margin-bottom: 0;

    &.list-ios > .item-block:last-child {
      // border-bottom: 0;
    }

    .list-ios > .item-block:last-child .item-inner,
    .item-input.input-has-focus .item-inner {
      border-bottom: 0.55px solid color($colors, light);
      // box-shadow: inset 0 -1px 0 0 color($colors, light);

    }

    .item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
      border-bottom: 0.55px solid color($colors, secondary);
      // box-shadow: inset 0 -1px 0 0 color($colors, secondary);

    }

    .item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
      border-bottom: 0.55px solid color($colors, danger);
      // box-shadow: inset 0 -1px 0 0 color($colors, danger);

    }

  }


  .no-top-border {
    border-top: none !important;
  }

  .margin-top-40 {
    margin-top: 40px;
  }

}
