<ion-header>
  <ion-navbar color="primary">
    <button ion-button color="white" menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-item no-padding no-lines class="jumbotron" [ngStyle]="profileBackground">
    <ion-item no-padding color="transparent">
      <h1 ion-text color="white">{{ user.name }}</h1>
    </ion-item>
  </ion-item>

  <ion-list no-margin class="latest">
    <ion-item no-lines>
      <h2 ion-text *ngIf="newUser.name">My Events</h2>
    </ion-item>
  </ion-list>

  <ion-list no-margin class="friends" [virtualScroll]="friends" [bufferRatio]="3">
    <div *virtualItem="let friend">
      <profile-card [friend]="friend"></profile-card>
    </div>
  </ion-list>

</ion-content>
