<ion-header no-border>
  <ion-navbar color="primary">
    <!--<ion-title>Signup</ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content class="soft-bg-primary" padding no-bounce>

  <h1 text-center color="white" class="welcome-text">Sign Up to <br>
    <span><strong>O</strong>ther <strong>P</strong>eople <strong>O</strong>pinion</span>
  </h1>

  <form #signupForm="ngForm" novalidate>
    <ion-list>
      <ion-item class="border-bottom no-top-border" no-padding>
        <ion-label color="white" floating>Full Name</ion-label>
        <ion-input [(ngModel)]="login.fullname" name="fullname" type="text" #fullname="ngModel" spellcheck="false"
                   autocapitalize="on">
        </ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label color="white" floating>Email Address</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false"
                   autocapitalize="off">
        </ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label color="white" floating>Password</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel"></ion-input>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row padding-vertical responsive-sm>
        <ion-col>
          <button ion-button (click)="onSignup(signupForm)" class="soft-text-color-primary" color="white" round block>
            Signup
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <button ion-button (click)="onFacebook()" color="facebook" icon-left block round>
            <ion-icon name="logo-facebook"></ion-icon>
            Facebook
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button (click)="onGmail()" color="gmail" icon-left block round>
            <ion-icon name="mail"></ion-icon>
            Gmail
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </form>
</ion-content>

