page-signup {
  .logo {
    padding: 10px 0;
    //min-height: 200px;
    text-align: center;
    margin-bottom: 20px;

    img {
      max-width: 188px;
      margin: 16px 0;
    }
  }
  ion-label {
    font-weight: bold;
  }
  .welcome-text {
    font-size: 2.2rem;
    font-weight: 200;
    letter-spacing: 0;
    span {
      letter-spacing: -2px;
      font-size: 3.0rem;
    }
  }
  ion-item {
    background-color: transparent!important;
    color: color($colors, white);
    input{
      color: color($colors, white);
      font-weight: normal;
      font-size: 2.0rem;
    }
  }
  button{
    text-transform: capitalize;
  }

  .list {
    margin-bottom: 0;
  }

  .no-top-border {
    border-top: none !important;
  }

  .margin-top-40 {
    margin-top: 40px;
  }


}
