<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Item</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDone()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="top-section">
    <ion-row class="pb5">
      <ion-col>
        <button ion-button clear icon-only class="button-add-item" (click)="uploadImgActionSheet()">Add Photo</button>
      </ion-col>
      <ion-col>
        <button ion-button clear icon-only class="button-add-item" (click)="uploadImgActionSheet()">Add Photo</button>
      </ion-col>
      <ion-col width-10>
        <button ion-button clear icon-only class="add">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label color="primary" floating>Description</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>



</ion-content>