page-add-item {
    .button-add-item{
        background-color: #ccc;
        color: #fff;
        display: block;
        width: 120px;
        height: 160px;
        text-align: center;
        margin: 0 auto;
    }
    .add{
        margin-top: 60px;
        ion-icon{
            padding: 0;
        }
    }
}
