<ion-header>
  <ion-navbar color="primary">
    <ion-title>Item Overview</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-grid no-padding>
    <ion-row *ngFor="let row of images">
      <ion-col no-padding>
        <ion-row>
          <ion-col no-padding>
            <ion-item>
              <h2>{{ row.category }}</h2>
              <ion-note>{{ row.date | date: 'shortDate' }}</ion-note>
              <button ion-button clear icon-only item-right (click)="presentPopover()">
                <ion-icon name="more"></ion-icon>
              </button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 no-padding *ngFor="let image of row.photos" (click)="openPhoto(row.photos)">
            <ion-img [src]="image.src"></ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
