<ion-header>
  <ion-navbar color="primary">
    <button ion-button color="white" menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover()" color="white">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item [ngStyle]="profileBackground" no-padding no-lines class="jumbotron">
    <!--<ion-img src="http://lorempixel.com/640/640/fashion/10" alt="Profile Photo"></ion-image>-->
    <ion-item no-padding color="transparent">
      <h1 ion-text color="white">{{ user.name }}</h1>
      <ion-list>
        <ion-icon name="md-medal"></ion-icon>
        <ion-icon name="md-medal"></ion-icon>
      </ion-list>
    </ion-item>
  </ion-item>

  <ion-item no-lines>
    <h2 ion-text>Lookbook</h2>
  </ion-item>

  <!--<ion-grid class="images">
    <ion-row *ngFor="let row of images" (click)="openItem(row)">
      <ion-col width-33 no-margin no-padding *ngFor="let image of row">
        <ion-img [src]="image.src"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  
  <ion-list no-margin class="friends" [virtualScroll]="friends" [bufferRatio]="3">
    <div *virtualItem="let friend">
      <lookbook-card [friend]="friend"></lookbook-card>
    </div>
  </ion-list>

</ion-content>