<ion-header>
  <ion-navbar color="primary">
    <button ion-button color="white" menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only color="white" (click)="presentPopover()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>
</ion-header>


<ion-content>

  <ion-item no-padding no-lines class="jumbotron" [ngStyle]="profileBackground">
    <!--<ion-img src="http://lorempixel.com/640/640/fashion/10" alt="Profile Photo"></ion-image>-->
    <ion-item no-padding color="transparent">
      <h1 ion-text color="white">{{ user.name }}</h1>
    </ion-item>
  </ion-item>
  
  <ion-list no-margin class="latest">
    <button ion-item no-lines detail-push (click)="navigateToRoom()">
      <ion-avatar item-left>
        <ion-img src="assets/img/heather.jpg"></ion-img>
      </ion-avatar>
      <h2 ion-text>{{ friend.name }}</h2>
      <p ion-text>Hi Hettie. I need you help. Please join event</p>
    </button>
    <ion-item no-lines>
      <h2 ion-text>My Events</h2>
    </ion-item>
  </ion-list>

  <ion-list no-margin class="friends" [virtualScroll]="friends" [bufferRatio]="3">
    <div *virtualItem="let friend">
      <profile-card [friend]="friend"></profile-card>
    </div>
  </ion-list>

</ion-content>
