<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDone()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let friend of friends" (click)="inviteCurrentFriend(friend)">
      <ion-avatar item-left>
        <img [src]="friend.avatar">
      </ion-avatar>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding>
            <h2 color="text">{{ friend.name }}</h2>
          </ion-col>
          <ion-col no-padding text-right>
            <ion-icon name="person-add" color="dark" *ngIf="!friend.isInvited"></ion-icon>
            <ion-icon name="checkmark" color="dark" *ngIf="friend.isInvited"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
