<ion-header>
  <ion-navbar color="primary">
    <ion-title>Find Friends</ion-title>
  </ion-navbar>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>


<ion-content padding>

</ion-content>
