page-terms {
  font-size: 1.2em;
  font-weight: 500;

  .scroll-content {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .heading,
  .subheading {
    font-size: 1em;
  }

  p {
    margin-top: 10px; 
    margin-bottom: 10px; 
  }

}
