<ion-header>
  <ion-navbar color="primary">
    <ion-title text-uppercase>Terms of Services</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 class="heading" text-center text-uppercase>Terms of Services</h1>
  <p>Thanks for using our products and services (“Services”). The Services are provided by Google Inc. (“Google”), located at 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States.</p>
  <p>By using our Services, you are agreeing to these terms. Please read them carefully. Our Services are very diverse, so sometimes additional terms or product requirements (including age requirements) may apply. Additional terms will be available with the relevant Services, and those additional terms become part of your agreement with us if you use those Services.</p>
  <h2 class="subheading" text-center>Using our Services</h2>
  <p>You must follow any policies made available to you within the Services.</p>
  <p>Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not.</p>
</ion-content>
