// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #7a4ba2,
  secondary:    #4ccead,
  danger:       #fa5e5b,
  light:        #e6e6e6,
  light-gray:   rgba(29, 29, 38, 0.5),
  dark:         #1D1D26,
  transparent:  transparent,
  white:      #ffffff,
  facebook:     #3b5998,
  gmail:        #db3236
);

$text-color: color($colors, dark);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

/*$list-ios-background-color: #ffffff;
$toolbar-ios-title-text-color: #999a9d;
$toolbar-ios-title-font-size: 1.1em;
$toolbar-ios-title-font-weight: 500;
$tabs-ios-border: none;*/


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-background: color($colors, primary);
$toolbar-md-active-color: color($colors, white);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "../assets/fonts/sanfrancisco";
@import "roboto";
@import "noto-sans";
