<!--
  Generated template for the ProfileEdit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col width-25 no-padding text-center center>
      <ion-avatar>
        <img [src]="avatar">
      </ion-avatar>
    </ion-col>
    <ion-col width-75 no-padding>
      <ion-list no-margin>
        <ion-item>
          <ion-input type="text" placeholder="Enter Item Name" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-datetime displayFormat="hh:mma, MM/DD/YYYY" pickerFormat="hh:mma, MM/DD/YYYY" [(ngModel)]="datetime"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label inline>Participants:</ion-label>
          <ion-input type="number" [(ngModel)]="participants"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label inline>Score:</ion-label>
    <ion-input type="number" [(ngModel)]="score"></ion-input>
  </ion-item>

  <ion-item no-lines>
    <ion-label item-left>Share:</ion-label>
    <a item-left href="#">
      <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a item-left href="#">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a item-left href="#">
      <ion-icon name="logo-googleplus"></ion-icon>
    </a>
    <a item-left href="#">
      <ion-icon name="logo-pinterest"></ion-icon>
    </a>
  </ion-item>

</ion-content>
