page-profile {
  .tabs {
    &.show-tabbar {
      // border: none;

    }

    a[aria-selected="true"] {
      & .tab-button-icon,
      & .tab-button-text {
        -webkit-transform: none !important;
        transform: none !important;
        
      }

    }

    .tab-button {
      // min-height: 5rem;

      & .tab-button-text {
        font-size: 1rem;
        text-transform: uppercase;

      }

    }

  }

}
