<ion-tabs>
  <ion-tab [root]="main" [rootParams]="user" tabTitle="Main" tabIcon="home"></ion-tab>
  <ion-tab [root]="score" tabTitle="Score" tabIcon="ribbon"></ion-tab>
  <ion-tab [root]="lookbook" tabTitle="Lookbook" tabIcon="shirt"></ion-tab>
  <!--<ion-tab [root]="friends" tabTitle="Friends" tabIcon="contacts"></ion-tab>-->
</ion-tabs>

