// MyApp
// --------------------------------------------------

.ios {
  font-family: "San Francisco" !important;
  font-weight: 300 !important;
}
// General Oleg
.swiper-pagination-bullet-active{
  background-color: color($colors, primary);
}
.soft-bg-primary {
  background-color: color($colors, primary);
}
.soft-text-color-primary {
  color: color($colors, primary);;
}



//----------

// Andrew
// --------------------------------------------------




// Dima
// --------------------------------------------------

.posr{
    position: relative;
}

.btn-center{
    display: inline;
    margin: 0 auto;
    min-width: 40%;
}

.flr{
    float: right;
}

.fll{
    float: left;
}

.p5{
    padding: 5px;
}

.p10{
    padding: 10px;
}

.p15{
    padding: 15px;
}

.pl0{
    padding-left: 1px;
}

.pt0{
    padding-top: 0;
}

.pr0{
    padding-right: 0;
}

.pb0{
    padding-bottom: 0;
}

.pl5{
    padding-left: 5px;
}

.pt5{
    padding-top: 5px;
}

.pr5{
    padding-right: 5px;
}

.pb5{
    padding-bottom: 5px;
}

.pl10{
    padding-left: 10px;
}

.pt10{
    padding-top: 10px;
}

.pr10{
    padding-right: 10px;
}

.pb10{
    padding-bottom: 10px;
}

.pl15{
    padding-left: 15px;
}

.pt15{
    padding-top: 15px;
}

.pr15{
    padding-right: 15px;
}

.pb15{
    padding-bottom: 15px;
}
