page-mutual-friends {
  .width100{
    width: 100%;
  }

}

.alert-default{
  h2.alert-title{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
  div.alert-head{
    padding: 15px;
  }
}