<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mutual Friends</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSkip()">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list no-margin>
    <ion-item *ngFor="let item of networks" (click)="showItem(item)">
      <h2 color="text">
        {{ item.name }}
      </h2>
      <button ion-button item-right icon-only clear>
        <ion-icon name="ios-arrow-forward-outline" class="icon-1" color="primary"></ion-icon>
      </button>
    </ion-item>
    <ion-item (click)="findUsers()">
      <h2 color="text">Find users</h2>
      <button ion-button item-right icon-only clear>
        <ion-icon name="ios-arrow-forward-outline" class="icon-1" color="primary"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>