page-profile-popover {

}

$top: 60px;

.profile-popover {

  ion-backdrop {
    opacity: 0 !important;
  }

  .popover-arrow {
    left: auto !important;
    right: 20px;
    display: block !important;
  }

  .popover-content {
    left: auto !important;
    top: calc(#{$top} + 9px) !important;
    right: 8px;
    width: 160px;
    transform-origin: right top 0px !important;
    // border-radius: 10px 0 10px 10px;

    .ion-item {
      // font-size: 1.7rem;
    }
  }

}

.popover-ios.profile-popover {
  
  .popover-arrow {
    top: $top !important;
  }

}

.popover-md.profile-popover {
  
  .popover-arrow {
    top: calc(#{$top} - 18px) !important;
  }

  .popover-content {
    top: calc(#{$top} - 9px) !important;
  }

}