<ion-list no-lines no-margin>
  <button ion-item detail-none (click)="editProfileInfo()">Edit Profile</button>
  <button ion-item detail-none (click)="toFeedback()">FeedBack</button>
  <button ion-item detail-none (click)="toFAQ()">FAQ</button>


<!--  <button ion-item detail-none (click)="editProfilePicture()">Profile Picture</button>
  <button ion-item detail-none (click)="editProfileSettings()">Profile Settings</button>-->
</ion-list>
