page-groups-tab {
  .img-wrapper{
    display: inline-block;
    margin-right: 5px;
    img{
      width: 100%;
      max-width: 20px;
      max-height: 20px;
      border-radius: 10px;
      margin-top: 5px;
    }
  }
}
