<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }} group</ion-title>
    <ion-buttons end>
      <button ion-button item-right color="white" (click)="presentPopover()">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let friend of friends" (click)="navigateToProfile()">
      <ion-avatar item-left>
        <img [src]="friend.avatar">
      </ion-avatar>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding>
            <h2 color="text">{{ friend.name }}</h2>
          </ion-col>
          <ion-col no-padding text-right>
            <span *ngFor="let group of friend.groups" class="color-ccc">
              {{ group }}<span *ngIf="friend.groups.length > 1 && friend.groups.indexOf(group)+1 !== friend.groups.length">, </span>
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>