<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>Home Feed</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-tabs tabsPlacement="top">
    <ion-tab [root]="tabAll" tabTitle="All"></ion-tab>
    <ion-tab [root]="tabMyOpo" tabTitle="My OPO"></ion-tab>
    <ion-tab [root]="tabOpoVotes" tabTitle="OPO Votes"></ion-tab>
  </ion-tabs>
</ion-content>