page-friends-tab {
  
  .icon-1{
    float: right;
    font-size: 1.4em;
    position: relative;
    top: 2px;
    pointer-events: none;
  }

  .userGroup{
    float: right;
  }

  .color-ccc{
    color: #ccc;
  }
}
