<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>Friends</ion-title>
    <ion-buttons end>
      <button ion-button item-right (click)="goToAddFriends()" color="white">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>



<ion-content>

  <!--<button padding ion-button icon-only clear color="dark" full text-lowercase (click)="goToCreateGroupPage()" class="btn-1">{{countRequests}} requests
    <ion-icon name="ios-arrow-forward-outline"></ion-icon>
  </button>-->

  <ion-list no-margin>
    <ion-item (click)="showRequests()">
      <ion-note color="dark">
        {{countRequests}} requests
      </ion-note>
      <ion-icon name="ios-arrow-forward-outline" class="icon-1" color="primary"></ion-icon>
    </ion-item>

    <ion-item *ngFor="let friend of friends" (click)="navigateToProfile()">
      <ion-avatar item-left>
        <img [src]="friend.avatar">
      </ion-avatar>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding>
            <h2 color="text">{{ friend.name }}</h2>
          </ion-col>
          <ion-col no-padding text-right>
            <span *ngFor="let group of friend.groups" class="color-ccc">
              {{ group }}<span *ngIf="friend.groups.length > 1 && friend.groups.indexOf(group)+1 !== friend.groups.length">, </span>
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>