<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>Invite friends</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onDone()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list no-margin>
    <ion-item *ngFor="let f of friends">

      
      <ion-checkbox [(ngModel)]="f.isInvited" item-left></ion-checkbox>

      <ion-label>
        <ion-avatar>
          <img [src]="f.avatar">
        </ion-avatar>
        <span class="title-checkbox">{{ f.name }}</span>
      </ion-label>


    </ion-item>

  </ion-list>
</ion-content>