page-invite-friends-tab {
  ion-label.label-ios{
    margin: 3px;
  }
  ion-avatar, ion-thumbnail {
      display: inline-block;
      margin-top: 5px;
  }
  .title-checkbox{
    display: inline-block;
    position: relative;
    top: -12px;
    left: 8px;
    z-index: 0;
  }
}


