<ion-header>
  <ion-navbar color="primary">
    <button ion-button color="white" menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>Create Room</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="top-section">
    <ion-row class="pb5">
      <ion-col>
        <button ion-button clear icon-only class="button-add-item" (click)="goToAddItem()">Add Item</button>
      </ion-col>
      <ion-col width-10>
        <p ion-text text-center color="primary" class="or">or</p>
      </ion-col>
      <ion-col>
        <button ion-button clear icon-only class="button-add-item" (click)="toRoom()">Add Item</button>
      </ion-col>
      <ion-col width-10>
        <button ion-button clear icon-only (click)="toRoom()" class="add">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>

    <ion-item>
      <ion-label fixed>Title</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
  </ion-list>

  <ion-list radio-group>
    <ion-list-header>Visibility:</ion-list-header>

    <ion-item>
      <ion-label>Public</ion-label>
      <ion-radio checked="true" value="public"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Privacy</ion-label>
      <ion-radio value="privacy"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-note>All users will be able to see your event
      </ion-note>
    </ion-item>

  </ion-list>


  <ion-list no-lines>

    <ion-list-header>Invite groups:</ion-list-header>

    <ion-item>
      <ion-label>Family</ion-label>
      <ion-checkbox [(ngModel)]="g1"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Friends</ion-label>
      <ion-checkbox [(ngModel)]="g2"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Personal</ion-label>
      <ion-checkbox [(ngModel)]="g3"></ion-checkbox>
    </ion-item>

  </ion-list>

  <ion-list no-lines>
    <button ion-item (click)="invite()">Ask for more of your friends<br> for advice</button>
  </ion-list>

  <button ion-button (click)="toRoom()" block color="primary">Publish</button>

</ion-content>
