page-create-room {
    // .top-section{
    //     height: 200px;
    // }

    // .ion-row[padding]{
    //     padding: 10px;
    // }

    .button-add-item{
        background-color: #ccc;
        color: #fff;
        display: block;
        width: 120px;
        height: 160px;
        text-align: center;
        margin: 0 auto;
    }
    .or{
        margin-top: 70px;
        font-size: 16px;
    }
    .add{
        margin-top: 60px;
        ion-icon{
            padding: 0;
        }
    }

    // .title-msg{
    //     background-color: #E7E7E7;
    //     color: #333;
    //     padding: 1px 0 0 10px;
    //     font-size: 11px;
    //     line-height: 4px;
    //     border-bottom: 2px solid #B5B6B7;
    //     max-height: 26px;

    // }

    // .ppl{
    //     background-color: #87888C;
    //     height: 30px;
    //     padding-left: 10px;
    //     overflow: hidden;
    // }

    // .user-img{
    //     width: 100%;
    //     max-width: 20px;
    //     max-height: 20px;
    //     border-radius: 10px;
    //     margin-top: 0;
    // }

    // .user-name{
    //     color: #fff;
    //     position: relative;
    //     top: 0;
    //     font-size: 11px;
    //     font-weight: 300;
    //     padding: 0 10px 0 5px;
    // }

    // .button.btn{
    //     background-color: transparent;
    //     border: 1px solid #fff;
    //     border-radius: 4px;
    //     text-transform: uppercase;
    //     color: #fff;
    //     height: 20px;
    //     & span{
    //       $padding-2: 5px;
    //       padding-left: $padding-2;
    //       padding-right: $padding-2;
    //       font-size: 14px;
    //     }
    //     // position: relative;
    //     // top: -7px;
    //     // padding: 0 10px;
    // }

    // .footer-ios .toolbar-background-ios, .footer-md .toolbar-background-md{
    //     background-color: #C9CFD7;
    //     border: none;
    // }

    // .toolbar-ios, .toolbar-md{
    //     padding: 0;
    // }

    // .text-input-ios, .text-input-md{
    //     width: 100%;
    // }

    // .chat-input {
    //     padding: 0 50px 0 10px;
    //     margin: 0;
    //     height: 30px;
        
    //     input{
    //         padding: 0;
    //         padding-left: 40px;
    //         margin: 0;
    //         background-color: #fff;
    //         border-radius: 8px;
    //         height: 100%;
    //         // color: #C9CFD7;
    //         font-size: 14px;
    //         &[next-input] {
    //             background-color: transparent;
    //         }
    //     }
    // }

    // ion-toolbar{
    //     position: relative;
    // }

    // ion-icon.chat-input-icon{
    //     position: absolute;
    //     left: 20px;
    //     top: 4px;
    //     color: #C9CFD7;
    //     font-size: 26px;
    // }

    // ion-icon.chat-input-icon.icon-md.ion-md-chatbubbles{
    //     top: 11px;
    // }       


    // button.chat-input-button{
    //     position: absolute;
    //     right: 0;
    //     top: 7px;
    //     color: #5B9FEF;
    //     font-size: 16px;
    //     width: 50px;
    //     &.button-ios{
    //         top: -9px;
    //         font-size: 20px;
    //         transform: rotate(45deg);
    //     }
    // }

    // .img-shadow{
    //     -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
    //     -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
    //     box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
    // }

    // .img-squre{
    //     display: block;
    //     width: 120px;
    //     height: 160px;
    //     padding: 0;
    // }

    // .img-star-icon, .img-delete-icon{
    //   position: absolute;
    //   font-size: 10px;
    // }

    // $padding-1: 0;

    // .img-star-icon{
    //   top: $padding-1;
    //   left: $padding-1;
    // }

    // .img-delete-icon{
    //   bottom: $padding-1;
    //   right: $padding-1;
    //   color: #5B9FEF;
    // }

    // .menu-wrapper-on-user-click{
    //     background-color: #ccc;
    //     span{
    //         color: red;
    //         padding-right: 10px;
    //         font-size: 9px;
    //     }
    // }
    // .button-user{
    //     height: 30px;
    // margin: 0;
    // padding: 0;
    // }
}

