<ion-content>
  <ion-list no-margin class="friends" [virtualScroll]="friends" [bufferRatio]="3">
    <div *virtualItem="let friend">
      <profile-card [friend]="friend"></profile-card>
    </div>
  </ion-list>
</ion-content>