page-profile-edit {

  .button {
    $size: 7.2rem;

    width: $size;
    height: $size;

    &,
    & img {
      border-radius: 50%;
      
    }

    ion-icon {
      font-size: 4rem;

    }

  }

  .change-password-link {
    position: absolute;
    right: 0;
    top: 15px;
    color: #0075ff;
    z-index: 10;
  }

  ion-item {
    ion-icon {
      font-size: 4rem;

    }

  }

}
