<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col width-25 no-padding text-center center>
      <button ion-button color="light-gray" (click)="presentActionSheet()" no-padding item-right class="avatar">
        <ion-icon name="md-add" *ngIf="!avatar" color="light"></ion-icon>
        <ion-avatar *ngIf="avatar">
          <img [src]="avatar">
        </ion-avatar>
      </button>
    </ion-col>
    <ion-col width-75 no-padding>
      <ion-list no-margin>
        <ion-item>
          <ion-input type="text" placeholder="Enter Name" [(ngModel)]="user.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="Enter Email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label inline>Gender:</ion-label>
          <ion-input type="text" value="" [(ngModel)]="gender"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-list no-margin>
    <ion-item>
      <ion-label inline>DOB:</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <div class="posr">
      <ion-item>
        <ion-label inline>Password:</ion-label>
        <ion-input type="password" [(ngModel)]="password" [disabled]="true"></ion-input>
      </ion-item>
      <span (click)="updatePasswordAlert()" class="change-password-link">change</span>
    </div>
    <ion-item>
      <ion-label inline>Phone:</ion-label>
      <ion-input type="tel" [(ngModel)]="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label inline>BIO:</ion-label>
      <ion-textarea rows="3" [(ngModel)]="bio"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-item no-lines>
    <ion-label item-left>Social:</ion-label>
    <a item-left href="https://www.facebook.com/">
      <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a item-left href="https://www.instagram.com/">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a item-left href="https://plus.google.com/">
      <ion-icon name="logo-googleplus"></ion-icon>
    </a>
    <a item-left href="https://www.pinterest.com/">
      <ion-icon name="logo-pinterest"></ion-icon>
    </a>
  </ion-item>

</ion-content>
