<ion-header>
  <ion-navbar color="primary">
    <ion-title>Product</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-color">
  <ion-slides>
    <ion-slide>
      <img src="assets/img/product.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/product.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/product.jpg" alt="">
    </ion-slide>
  </ion-slides>
</ion-content>
