<ion-header>
  <ion-navbar color="primary">
    <button ion-button color="white" menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover()" color="white">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-item [ngStyle]="profileBackground" no-padding no-lines class="jumbotron">
    <!--<ion-img src="http://lorempixel.com/640/640/fashion/10" alt="Profile Photo"></ion-image>-->
    <ion-item no-padding color="transparent">
      <h1 ion-text color="white">{{ user.name }}</h1>
      <ion-list>
        <ion-icon name="md-medal"></ion-icon>
        <ion-icon name="md-medal"></ion-icon>
      </ion-list>
    </ion-item>
  </ion-item>

  <ion-list no-margin>
    <button ion-item no-lines no-padding detail-none (click)="navigateScoreboard()" class="scoreboard">
      <ion-list no-margin no-lines>
        <ion-item text-center>
          Your rank is - 2.45
        </ion-item>
        <ion-item text-center>
          <ion-icon name="md-medal"></ion-icon>
          <ion-icon name="md-medal"></ion-icon>
          <ion-icon name="md-medal"></ion-icon>
          <ion-icon name="md-medal"></ion-icon>
          <ion-icon name="md-medal"></ion-icon>
        </ion-item>
        <ion-item text-center>
          ~ 5 votes for the next level
        </ion-item>
      </ion-list>
    </button>
    <ion-item no-lines>
      <h2>Storyline</h2>
    </ion-item>
  </ion-list>

  <ion-grid [virtualScroll]="images" class="images">
    <ion-row *virtualItem="let row">
      <ion-col width-50 no-margin no-padding *ngFor="let image of row">
        <ion-img [src]="image.src"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

