page-profile-score {
  ion-navbar {
    .toolbar-background {
      -webkit-filter: blur(48px);
      filter: blur(48px);

      &.toolbar-background-ios {
        // border: none;

      }

    }

  }

  ion-header[class="header header-md"]:after {
    background-image: initial;
    
  }
  
  ion-content {

    .fixed-content,
    .scroll-content {
      margin-top: 0 !important;

    }

    .jumbotron.item {
      position: relative;
      width: auto;
      height: 66vw;
      background: transparent no-repeat center center / cover;

      .item-inner {
        padding: 0;
      }

      .label {
        margin: 0;

        ion-item {
          position: absolute;
          left: 8px;
          bottom: -3px;
          // min-height: 40px;

          .label {
            display: flex;
            align-items: baseline;

              h1 {
                margin: 0 10px 0 0;
                font-weight: 900;

              }

              ion-list {
                margin: 0;
                color: #f8e71c;
                font-size: 2.8rem;
                text-shadow: 1px 1px 1px color($colors, dark);

              }

          }

        }

      }

    }

    button.scoreboard {
      &.item-block {

        .item-inner {
          padding: 0;

          ion-label {
            margin: 0;

          }

        }

      }

    }

    .label {
      h2 {
        font-weight: 900;

      }
    }

    ion-grid.images {
      padding: 0;

      ion-row {
        // display: flex;
        // flex-wrap: wrap;
        font-size: 0;

        ion-col {

          ion-img {
            $width: 50vw;
            width: $width;
            height: 1.5 * $width;
            contain: content;
            vertical-align: bottom;

            img {

            }

          }


        }

      }

    }

  }

}