<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>Groups</ion-title>
    <ion-buttons end>
      <button ion-button item-right (click)="addNewGroup()" color="white">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>



<ion-content>
  <ion-list no-margin>
    <ion-item *ngFor="let group of groups" (click)="showGroup(group)">
      <h2 color="text">
        {{ group.name }}
      </h2>
      <button ion-button item-right icon-only clear>
        <ion-icon name="ios-arrow-forward-outline" class="icon-1" color="primary"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>