$top: 60px;

.group-popover {


  .popover-arrow {
    left: auto !important;
    right: 20px;
    display: block !important;
  }

  .popover-content {
    left: auto !important;
    top: calc(#{$top} + 9px) !important;
    right: 8px;
    width: 185px;
    transform-origin: right top 0px !important;
    // border-radius: 10px 0 10px 10px;

    .ion-item {
      // font-size: 1.7rem;
    }
  }

}

.popover-ios.group-popover {
  
  .popover-arrow {
    top: $top !important;
  }

}

.popover-md.group-popover {
  
  .popover-arrow {
    top: calc(#{$top} - 18px) !important;
  }

  .popover-content {
    top: calc(#{$top} - 9px) !important;
  }

}

.alert-default{
  h2.alert-title{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
  div.alert-head{
    padding: 15px;
  }
  div.alert-message{
      text-align: center;
  }
}