<ion-list no-lines no-margin>
  <button ion-item detail-none (click)="addRemoteFriends()">Add / remote friends</button>
  <button ion-item detail-none (click)="renameGroup()">Rename group</button>
  <button ion-item detail-none (click)="deleteGroup()">Delete group</button>
</ion-list>

