


page-welcome {
  ion-scroll {
    white-space: nowrap;
    height: 100%;
    img {
      max-width:450vh;
      -webkit-filter: brightness(70%); /* Safari */
      filter: brightness(70%);
    }
  }
  /*.toolbar-background {
    background: transparent;
    border-color: transparent;
  }*/

  .text-title-welcome {
    position: absolute;
    z-index: 10;
    text-align: center;
    top: 60px;
    width:100%;
    h1{
      font-size: 3.4rem;
      font-weight: 400;
    }
    h4{
      font-size: 2.0rem;
      font-weight: 200;
    }
  }

  .welcome-button {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    z-index: 100;
  }

}
