<ion-header no-border>
  <ion-navbar color="primary">
    <!--ion-title>Welcome</ion-title>-->
    <ion-buttons end>
      <button ion-button end (click)="startApp()" icon-right color="white">
          Skip
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce no-padding>
  <!--<ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)" pager>
    <ion-slide *ngFor="let slide of slides">
      <h2 class="info-title" [innerHTML]="slide.heading"></h2>
      <img [src]="slide.imageUrl" class="fullscreen-image"/>
      <p [innerHTML]=""></p>
      <button class="button-abs" ion-button large clear icon-right *ngIf="slide.last" (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>-->

  <div class="text-title-welcome" padding>
    <h1 color="white" text-center>What is OPO?</h1>
    <h4 color="white" text-center>OPO gives consumers maximum confidence in their purchasing and styling decisions by giving them the most trusted feedback sources</h4>
  </div>

  <div class="welcome-button">
    <button class="button-abs" ion-button round icon-right (click)="startApp()">
      Continue
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>


  <ion-scroll scrollX="true" scrollY="false">
    <img src="assets/img/welcome/long-welcome.jpg">
  </ion-scroll>
</ion-content>

