<ion-header>
  <ion-navbar color="primary">
    <button ion-button color="white" menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>Members List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-list no-margin>
    <ion-item *ngFor="let participant of participants">
      <ion-avatar item-left>
        <img [src]="participant.avatar">
      </ion-avatar>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding>
            <h2 ion-text color="text">{{ participant.name }}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
