<ion-header>
  <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>Event</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid class="top-section">
    <ion-row class="pb5">

      <ion-col class="posr">
        <button ion-button no-margin (click)="showProductModal()" class="img-square img-shadow">
          <img src="assets/img/product.jpg" alt="">
        </button>
        <button ion-button clear icon-only (click)="star($event)" class="img-star-icon">
          <ion-icon name="star"></ion-icon>
        </button>
        <button ion-button clear icon-only (click)="delete()" class="img-delete-icon">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-col>

      <ion-col text-center>
        <ion-icon name="add" class="img-placeholder-square" (click)="uploadImgActionSheet()"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-icon name="add" class="img-placeholder-square" (click)="addProductModal()"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-grid>


  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col no-padding>
        <div class="title-msg">
          <p>Need help to choose new dress</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding class="ppl">
      <ion-col no-padding>
        <button ion-button clear (click)="toggleUserMenu()" class="button-user">
          <img class="user-img" src="assets/img/av1.jpg" alt="">
          <span class="user-name">John</span>
        </button>
      </ion-col>
      <ion-col no-padding>
        <button ion-button clear (click)="toggleUserMenu()" class="button-user">
          <img class="user-img" src="assets/img/av2.jpg" alt="">
          <span class="user-name">Mike</span>
        </button>
      </ion-col>
      <ion-col no-padding>
        <button ion-button clear (click)="toggleUserMenu()" class="button-user">
          <img class="user-img" src="assets/img/av3.jpg" alt="">
          <span class="user-name">Andrew</span>
        </button>
      </ion-col>
      <ion-col no-padding class="flr">
        <button ion-button clear icon-only class="btn" (click)="inviteUser()">+ invite</button>
      </ion-col>
    </ion-row>
    <ion-row no-padding *ngIf="showUserMenu">
      <ion-col no-padding>
        <div class="menu-wrapper-on-user-click">
          <span ion-button clear>Start Video</span>
          <span ion-button clear (click)="viewProfile(user)">View Profile</span>
          <span ion-button clear>Report Jeremiah</span>
        </div>
      </ion-col>
    </ion-row>


    <ion-list no-lines>

      <ion-card no-margin *ngFor="let message of messages">
        <ion-item>
          {{ message.username }}
        </ion-item>
        <ion-item class="chat-msg">
          <ion-avatar item-left *ngIf="message.avatar">
            <img [src]="message.avatar">
          </ion-avatar>
          <ion-note>
            {{ message.message }}
            <!--{{ message.date | date: 'shortTime' }}-->
          </ion-note>
        </ion-item>
      </ion-card>


    </ion-list>



  </ion-grid>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <form #form="ngForm">
      <ion-input type="text" no-margin class="chat-input" [(ngModel)]="message" name="message" placeholder="Type a message here" required></ion-input>
      <ion-icon name="chatbubbles" class="chat-input-icon"></ion-icon>
      <button ion-button clear icon-only class="chat-input-button" (click)="sendMessage(form.value)" [disabled]="form.valid == false">
        <ion-icon name="send"></ion-icon>
      </button>
    </form>
  </ion-toolbar>
</ion-footer>
