profile-card {
  ion-card.card {
    width: auto;
    margin: 2px 0;
    border-radius: 0;

    // &:last-child {
    //   margin-bottom: 0;

    // }

    button.friend {
      border-bottom: 1px solid color($colors, light-gray);

      ion-note {
          margin: 0;
          // color: color($colors, white);
          font-weight: 500;

        ion-col {
          &.online {
            color: #6dae06;

          }

          ion-icon {
            // font-size: 1rem;
            color: #7ed222;

          }

        }

      }

    }

    h3 {
      margin: 0;
      padding: 4px 0 4px 16px;
      // background: color($colors, light);
      // color: color($colors, white);
      font-size: 1.3rem;
      font-weight: 500;

    }

    ion-scroll.images {
      $margin: 2px;
      // $width: calc(50vw - #{$margin} / 2);
      // $width: -webkit-calc(50vw - #{$margin} / 2);
      // $height: calc(1.5 * #{$width});
      // $height: -webkit-calc(1.5 * #{$width});
      $width: 50vw;
      $height: 1.5 * $width;

      height: $height;
      // background: color($colors, light);
      font-size: 0;
      white-space: nowrap;

      ion-list {
        &.list-ios,
        &.list-md {
          margin-top: 0

        }
        
        button {
          display: inline-block;
          width: auto;
          border: none;
          margin-right: $margin;

        &:last-child {
          margin-right: 0;
        }

          .item-inner {
            padding: 0;

            .label {
              height: $height;
              margin: 0;

              ion-img {
                display: block;
                width: $width;
                height: $height;
                min-width: $width;
                min-height: $height;
                // background: color($colors, light-gray);

                img {
                  display: initial;
                  background: inherit;
                  // max-width: initial !important;

                }

              }

            }
              
          }

        }

      }

    }

    .item.participants {
      $participants-scroll-height: 44px;

      &,
      &:last-child {
        border-bottom: none;
      }

      .item-inner {
        padding: 0;
      }

      ion-label {
        margin: 0;

        ion-scroll {
          height: $participants-scroll-height;
          white-space: nowrap;

          ion-list {
            display: flex;
            margin: 0;

            button {
              $avatar-size: 25px;
              $padding: 8px;

              flex: 0 0 $avatar-size + 2 * $padding;
              min-height: $participants-scroll-height;
              margin: 0;
              padding: 0 $padding;
              border: none;

              &:first-child {
                flex: 0 0 $avatar-size + 3 * $padding;
                padding-left: 2 * $padding;
              }

              ion-avatar {
                margin: 0;
                min-width: $avatar-size;
                min-height: $avatar-size;
                margin-right: 0;

                ion-img {
                  display: block;
                  min-width: $avatar-size;
                  min-height: $avatar-size;
                  // background: color($colors, light-gray);
                  
                  &, img {
                    width: $avatar-size;
                    height: $avatar-size;
                  }
                  
                }


              }

              h3 {
                margin: 0;
                padding-left: 8px;
                font-size: 1.1rem;
              }

            }
            
          }

        }

      }

      ion-buttons {
        margin: 0 0 0 8px;

        &.bar-buttons-md {
          min-height: $participants-scroll-height;

        }

        button {
          margin: 0;
          padding: 0 8px 0 8px;
          height: $participants-scroll-height;

        }

      }

    }

  }
}
