<!--
  Generated template for the ProfileCard component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-card no-margin>

  <button ion-item no-margin detail-none class="friend" (click)="navigateToProfile(friend)">
    <ion-avatar item-left>
      <img [src]="friend.avatar">
    </ion-avatar>
    <h2 ion-text>{{ friend.name }}</h2>
    <ion-note item-right>
      <!--<ion-row>
        <ion-col no-padding text-right class="online">
          live
          <ion-icon name="ios-radio-button-on"></ion-icon>
        </ion-col>
      </ion-row>-->
      <ion-row>
        <ion-col no-padding>
          32min
        </ion-col>
      </ion-row>
    </ion-note>
  </button>

  <h3 ion-text color="dark">To Keep Makeup Looking Fresh Take a Powder</h3>

  <ion-scroll scrollX="true" class="images">
    <ion-list>
      <button ion-item no-margin no-padding detail-none *ngFor="let image of friend.images" (click)="navigateToRoom()">
        <ion-img [src]="image.src"></ion-img>
      </button>
    </ion-list>
  </ion-scroll>

  <ion-item no-padding class="participants">
    <ion-scroll scrollX="false">
      <ion-list>
        <button ion-item no-margin detail-none *ngFor="let participant of friend.participants" (click)="navigateToProfile(participant)">
          <ion-avatar>
            <ion-img [src]="participant.avatar"></ion-img>
          </ion-avatar>
        </button>
      </ion-list>
    </ion-scroll>
    <ion-buttons item-right center>
      <button ion-button clear small (click)="goToMembersList(friend.participants)">20+</button>
    </ion-buttons>
  </ion-item>

</ion-card>
