<ion-list no-lines no-margin>
  <button ion-item detail-none (click)="delete()">Delete</button>
  <button ion-item detail-none (click)="share()">Share</button>
  <button ion-item detail-none (click)="details()">Details</button>
</ion-list>
