<ion-header>
  <ion-navbar color="primary">
    <button ion-button color="white" menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>
    <ion-title>Scoreboard</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover()" color="white">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-item no-lines>
    Wanna increase your rank?
  </ion-item>

  <ion-item no-lines>
    Follow next steps:
  </ion-item>

  <ion-list padding>
    <ion-item color="light-gray" margin-right>
      <ion-icon name="md-medal"></ion-icon>
      First 10 Events
    </ion-item>
    <ion-item color="light-gray">
      <ion-icon name="md-medal"></ion-icon>
      First 40 Events
    </ion-item>
    <ion-item color="light-gray">
      <ion-icon name="md-medal"></ion-icon>
      First 80 Events
    </ion-item>
    <ion-item color="light-gray">
      <ion-icon name="md-medal"></ion-icon>
      First 160 Events
    </ion-item>
    <ion-item color="light-gray">
      <ion-icon name="md-medal"></ion-icon>
      First 320 Events
    </ion-item>
    <ion-item color="light-gray">
      <ion-icon name="md-medal"></ion-icon>
      First 600 Events
    </ion-item>
  </ion-list>

</ion-content>
