<ion-card no-margin>

  <h3 ion-text color="dark">To Keep Makeup Looking Fresh Take a Powder</h3>

  <ion-scroll scrollX="true" class="images">
    <ion-list>
      <button ion-item no-margin no-padding detail-none *ngFor="let image of friend.images" (click)="openItem()">
        <ion-img [src]="image.src"></ion-img>
      </button>
    </ion-list>
  </ion-scroll>
  
  <ion-grid>
    <ion-row>
      <ion-col text-center>Total: 34</ion-col>
      <ion-col text-center>
        <ion-icon name="heart" color="danger"></ion-icon>
        12 | 3 | 7 | 2
      </ion-col>
      <ion-col text-center>07.02.2017</ion-col>
    </ion-row>
  </ion-grid>

</ion-card>
