lookbook-card {
  ion-card.card {
    width: auto;
    margin: 2px 0;
    border-radius: 0;

    // &:last-child {
    //   margin-bottom: 0;

    // }

    h3 {
      margin: 0;
      padding: 4px 0 4px 16px;
      // background: color($colors, light);
      // color: color($colors, white);
      font-size: 1.3rem;
      font-weight: 500;

    }

    ion-scroll.images {
      $margin: 2px;
      // $width: calc(50vw - #{$margin} / 2);
      // $width: -webkit-calc(50vw - #{$margin} / 2);
      // $height: calc(1.5 * #{$width});
      // $height: -webkit-calc(1.5 * #{$width});
      $width: 50vw;
      $height: 1.5 * $width;

      height: $height;
      // background: color($colors, light);
      font-size: 0;
      white-space: nowrap;

      ion-list {
        &.list-ios,
        &.list-md {
          margin-top: 0

        }
        
        button {
          position: relative;
          display: inline-block;
          width: auto;
          border: none;
          margin-right: $margin;

        &:last-child {
          margin-right: 0;
        }


          .item-inner {
            padding: 0;

            .label {
              height: $height;
              margin: 0;

              ion-img {
                width: $width;
                height: $height;
                min-width: $width;
                min-height: $height;
                // background: color($colors, light-gray);

                img {
                  display: initial;
                  background: inherit;
                  // max-width: initial !important;

                }

              }

            }
              
          }

        }

      }

    }

  }

}
