<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add / remote friends</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let friend of friends" color="transparent">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="friend.avatar">
        </ion-avatar>
        <h2 color="text">{{ friend.name }}</h2>
        <ion-icon name="more" item-right></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteFriend(friend)">
        Delete
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addFriend()"><ion-icon name="add"></ion-icon></button>
    <!--<ion-fab-list side="left">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>-->
  </ion-fab>
</ion-content>